<div ng-controller="HttpCtrl as ctrl">

    <!--Add code to display products and their price here -->

    <div class="col-xs-3 product"
         data-ng-repeat="product in ctrl.products">
        <h1>{{product.name}}</h1>
        <span class="price">
            S$ {{product.price}}
        </span>
        <span>
            S$ {{product.discountedPrice}}
        </span>
    </div>

</div>